
.container-style {
    display: flex;
    padding: 3px;
    margin: 0;
    align-items: center;
    flex-grow: 0;
    max-width: 99%;
    flex-flow: row nowrap
}

.text-style {
    margin-left: 10px; 
    margin-right: 10px;
}