.pagamento {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 840px;
  flex-wrap: nowrap;
}

.wrapper-cartao {
  background-color: #DE4B4B;
  width: 352px;
  padding-left: 60px;
  
  flex-wrap: nowrap;
}

.wrapper-form {
  display: flex;
  flex: 1;
  padding: 65px;
  justify-content: flex-end;
}

@media (min-width: 921px) and (max-width: 940px){
  .wrapper-cartao{
    padding-left: 5px;
  }

  .wrapper-form {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
  }
}

.mock-breadcrumb {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #DE4B4B;
  font-size: 13px;
}

.step-decorator {
  border: 1px solid #DE4B4B;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #DE4B4B;
  font-size: 13px;
  font-weight: 600;
}
.step-icon{
  font-size: 22px;
}

#btnVoltarPortrait {
  display: none;
  position: relative;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
}

#btnAddCardPortrait {
  display: none;
}

@media (max-width: 920px){

  .pagamento {
    flex-direction: column;
    width: 100%;
    min-width: 100%;
  }
  
  .wrapper-cartao {
    height: 239px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 15px;
  }

  #btnVoltarLandscape, #btnAddCardLandscape {
    display: none !important;
  }

  #btnVoltarPortrait {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #btnAddCardPortrait {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper-form {
    display: flex;
    flex: 1;
    padding: 40px;
    padding-top: 95px;
    justify-content: center;
  }
  
  .mock-breadcrumb {
    display: none;
  }

}