
.container-input {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0;
    flex-grow: 0;
    max-width: 100%;
    text-align: left;
    letter-spacing: 0px;
    
    /* border: 1px solid orange; */
}

.IMaskInput::placeholder {
    color: #C9C9C9;
    opacity: 1;
  }

.label {
    color: #C9C9C9;  
    font-size: 13px;
    margin-bottom: 0px;
}

.input {
    font-size: 21px;
    color: #3C3C3C;
    opacity: 1;
}

.error-box {
    height: 16px;
}

.error-message {
    font-size: 13px;
    color: #EB5757;
    display: flex;
    align-items: center;
}