
.container-cartao-style {
  display: flex;
  color: #FFFFFF;
  flex-direction: row;
  padding: 3px;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 380px;
  max-width: 380px;
  min-width: 380px;
  height: 235px;

  background-color: transparent;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.container-cartao-style:hover .flip-card, .container-cartao-style.hover .flip-card {
  transform: rotateY(180deg);
}

.cartao-front, .cartao-verse {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cartao-style {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 223px;
  border-radius: 15px;
  z-index: 100;
  justify-content: center; 
  align-items: flex-start;
  padding: 35px;
  padding-top: 30%;

  text-shadow: 0px 1px 2px #000000B3;
  box-shadow: 0px 16px 15px -13px rgba(0,0,0,0.75);
}

.cartao-front {

}

.cartao-verse {
  transform: rotateY(180deg);
}

  
.logo-visa {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 70px;
}

.card-name {
  position: absolute;
  font-size: 16px;
  text-align: left;
  bottom: 35px;
  left: 35px;
}

.card-number-wrapper {
  position: absolute;
  left: 35px;
  top: 100px;
  width: 100%;
  font-size: 22px;
  letter-spacing: 2.31px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 33px;
}

.card-number {
  margin-right: 14px;
}

.card-valid {
  position: absolute;
  min-width: 41px;
  bottom: 35px;
  right: 35px;
  text-align: left;
}

.card-CVV {
  color: #3C3C3C;
  position: absolute;
  top: 106px;
  left: 180px;
}



@media (max-width: 920px){
 
  .container-cartao-style {
    display: flex;
    color: #FFFFFF;
    flex-direction: row;
    padding: 3px;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    height: 172px;
    margin-top: 16px;
  
    background-color: transparent;
    perspective: 1000px;
  }
  
  .cartao-style {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 16%;
  
  }
    
  .logo-visa {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 53px;
  }
  
  .card-name {
    position: absolute;
    font-size: 12px;
    text-align: left;
    bottom: 20px;
    left: 15px;
  }
  
  .card-number-wrapper {
    left: 15px;
    top: 80px;
    font-size: 19px;
    letter-spacing: 1.52px;
    min-height: 23px;
  }
  
  .card-number {
    margin-right: 14px;
  }
  
  .card-valid {
    min-width: 41px;
    bottom: 20px;
    right: 15px;
    font-size: 12px;
  }

}