
.form-dados {
  position: relative;
  width: 440px;
  display: flex;
  flex-direction: column;
}

.rowDoubleField{
  margin-top: 20px;
}

.btn-continuar {
  margin-top: 41px; 
  width: 50%; 
  align-self: flex-end;
  background-color: #DE4B4B;
  border: none;
  height: 51px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
}

.select-parcelas {
  margin-top: 41px;
}

.div-alert {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  border: 4px solid #f5c6cb;
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.close-alert{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #721c24;
}


@media (max-width: 920px){
 
  .form-dados {
    position: relative;
    width: 100%;
  }
  
  .btn-continuar {
    margin-top: 20px; 
    width: 100%; 
  }
  
  .select-parcelas {
    margin-top: 29px;
  }  

  .div-alert {
    padding: 5px;
    padding-top: 15px;
  }

  .close-alert{
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .rowDoubleField{
    margin-top: 10px;
  }

}