.loja {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
  
.loja-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .loja-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



.boxPagto {
    flex: 1;
    max-width: 1024px;
    height: 596px;
    
    border: 2px gray solid;
}

@media (max-width: 920px){
  .boxPagto {
    height: auto;
    max-width: 100%;
    width: 100% !important;
    margin: 0px;
  }

  .loja {
    margin: 0px;
  }

}