.container {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0;
    flex-grow: 0;
    max-width: 100%;
    text-align: left;
    letter-spacing: 0px;
    position: relative;

    /* border: 1px solid orange; */
}

.error-box {
    height: 16px;
}

.error-message {
    font-size: 13px;
    color: #EB5757;
    display: flex;
    align-items: center;
}

.chevron {
    position: absolute;
    color: #EB5757;
    right: 10px;
    top: 10px;
}