body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: left;
  font: Regular 13px/22px Verdana;
  letter-spacing: -0.01px;
  color: #FFFFFF;
  opacity: 1;
  width: 100%;
}

@media (min-width: 1px) {
  body{
    position: absolute; 
    width: 100%;
  } 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


textarea, select, input, button, div { 
  outline: none; 
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

